:root {
    --accent: 128, 75%, 40%;
    --black: #312d37;
    --body-background: #fefdfb;
    --grey: #dadada;
    --grey-dark: #6f6a78;
    --gray: 96, 115, 159;
    --gray-light: 229, 233, 240;
    --gray-dark: 34, 41, 57;
    --gray-gradient: rgba(var(--gray-light), 50%), #fff;
    --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
        0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);

    /* Step -2: 12.16px → 12.944px */
    --text--2: clamp(0.76rem, 0.743rem + 0.0852vw, 0.809rem);
    /* Step -1: 15.2px → 17.2543px */
    --text--1: clamp(0.95rem, 0.9053rem + 0.2233vw, 1.0784rem);
    /* Step 0: 19px → 23px */
    --text-0: clamp(1.1875rem, 1.1005rem + 0.4348vw, 1.4375rem);
    /* Step 1: 23.75px → 30.659px */
    --text-1: clamp(1.4844rem, 1.3342rem + 0.751vw, 1.9162rem);
    /* Step 2: 29.6875px → 40.8684px */
    --text-2: clamp(1.8555rem, 1.6124rem + 1.2153vw, 2.5543rem);
    /* Step 3: 37.1094px → 54.4776px */
    --text-3: clamp(2.3193rem, 1.9418rem + 1.8879vw, 3.4049rem);
    /* Step 4: 46.3867px → 72.6187px */
    --text-4: clamp(2.8992rem, 2.3289rem + 2.8513vw, 4.5387rem);
}
@font-face {
    font-family: 'Spectral';
    src: url('/fonts/spectral/extra-light.woff') format('woff'),
        url('/fonts/spectral/extra-light.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Spectral';
    src: url('/fonts/spectral/extra-light-italic.woff') format('woff'),
        url('/fonts/spectral/extra-light-italic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Spectral';
    src: url('/fonts/spectral/regular.woff') format('woff'),
        url('/fonts/spectral/regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Spectral';
    src: url('/fonts/spectral/italic.woff') format('woff'),
        url('/fonts/spectral/italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/light.woff') format('woff'),
        url('/fonts/inter/light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/semi-bold.woff') format('woff'),
        url('/fonts/inter/semi-bold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Operator Mono';
    src: url('/fonts/operator/OperatorMonoLig-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Operator Mono';
    src: url('/fonts/operator/OperatorMonoLig-BookItalic.otf')
        format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
body {
    font-family: 'Spectral', serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: var(--body-background);
    background-size: 100% 600px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: var(--black);
    font-size: var(--text-0);
    line-height: 1.65;
}
main {
    margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5rem 0;
    color: var(--black);
    line-height: 1.05;
}
h1 {
    font-size: var(--text-4);
    font-weight: 200;
    letter-spacing: -1.2px;
}
h2 {
    font-size: var(--text-2);
    font-weight: 400;
    letter-spacing: -0.8px;
    padding-top: 24px;
}
h3 {
    font-size: var(--text-1);
    padding-top: 16px;
}
h4 {
    font-size: var(--text-1);
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: inherit;
}
p {
    margin-bottom: 1em;
}
.prose p {
    margin-bottom: 2em;
}
table {
    width: 100%;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
code {
    font-family: 'Operator Mono';
    font-size: var(--text--1);
    padding: 2px 5px;
    background-color: hsla(var(--accent), 0.2);
    border-radius: 4px;
}
pre {
    font-family: 'Operator Mono';
    font-size: var(--text--1);
    padding: 1.5em;
    border-radius: 8px;
}
pre > code {
    all: unset;
}
blockquote {
    --left-pad: 24px;
    --horizontal-margin: 52px;
    border-left: 1px solid var(--grey);
    padding-left: var(--left-pad);
    margin: 0;
    margin-right: var(--horizontal-margin);
    margin-left: calc(var(--horizontal-margin) - var(--left-pad));
}
hr {
    border: none;
    border-top: 1px solid rgb(var(--gray-light));
}

.sr-only {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px 1px 1px 1px);
    /* maybe deprecated but we need to support legacy browsers */
    clip: rect(1px, 1px, 1px, 1px);
    /* modern browsers, clip-path works inwards from each corner */
    clip-path: inset(50%);
    /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
    white-space: nowrap;
}
