/* ================================================================== */
/* ============================  VARIABLES  ========================= */
/* ================================================================== */

:root {
    --accent: 128, 75%, 40%;
    --black: #312d37;
    --body-background: #fefdfb;
    --grey: #dadada;
    --grey-dark: #6f6a78;
    --gray: 96, 115, 159;
    --gray-light: 229, 233, 240;
    --gray-dark: 34, 41, 57;
    --gray-gradient: rgba(var(--gray-light), 50%), #fff;
    --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
        0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);

    /* =========================  TEXT SIZES  ======================= */
    /* 12.16px → 12.944px */
    --text--2: clamp(0.76rem, 0.743rem + 0.0852vw, 0.809rem);
    /* 15.2px → 17.2543px */
    --text--1: clamp(0.95rem, 0.9053rem + 0.2233vw, 1.0784rem);
    /* 19px → 23px */
    --text-0: clamp(1.1875rem, 1.1005rem + 0.4348vw, 1.4375rem);
    /* 23.75px → 30.659px */
    --text-1: clamp(1.4844rem, 1.3342rem + 0.751vw, 1.9162rem);
    /* 29.6875px → 40.8684px */
    --text-2: clamp(1.8555rem, 1.6124rem + 1.2153vw, 2.5543rem);
    /* 37.1094px → 54.4776px */
    --text-3: clamp(2.3193rem, 1.9418rem + 1.8879vw, 3.4049rem);
    /* 46.3867px → 72.6187px */
    --text-4: clamp(2.8992rem, 2.3289rem + 2.8513vw, 4.5387rem);

    /* ========================  SPACE SIZES  ======================= */
    /* 5px → 6px */
    --space-3xs: clamp(0.3125rem, 0.2908rem + 0.1087vw, 0.375rem);
    /* 10px → 12px */
    --space-2xs: clamp(0.625rem, 0.5815rem + 0.2174vw, 0.75rem);
    /* 14px → 17px */
    --space-xs: clamp(0.875rem, 0.8098rem + 0.3261vw, 1.0625rem);
    /* 19px → 23px */
    --space-s: clamp(1.1875rem, 1.1005rem + 0.4348vw, 1.4375rem);
    /* 29px → 35px */
    --space-m: clamp(1.8125rem, 1.6821rem + 0.6522vw, 2.1875rem);
    /* 38px → 46px */
    --space-l: clamp(2.375rem, 2.2011rem + 0.8696vw, 2.875rem);
    /* 57px → 69px */
    --space-xl: clamp(3.5625rem, 3.3016rem + 1.3043vw, 4.3125rem);
    /* 76px → 92px */
    --space-2xl: clamp(4.75rem, 4.4022rem + 1.7391vw, 5.75rem);
    /* 95px → 115px */
    --space-3xl: clamp(5.9375rem, 5.5027rem + 2.1739vw, 7.1875rem);
    /* 114px → 138px */
    --space-4xl: clamp(7.125rem, 6.6033rem + 2.6087vw, 8.625rem);
    /* 133px → 161px */
    --space-5xl: clamp(8.3125rem, 7.7038rem + 3.0435vw, 10.0625rem);

    /* One-up pairs */
    /* 5px → 12px */
    --space-3xs-2xs: clamp(0.3125rem, 0.1603rem + 0.7609vw, 0.75rem);
    /* 10px → 17px */
    --space-2xs-xs: clamp(0.625rem, 0.4728rem + 0.7609vw, 1.0625rem);
    /* 14px → 23px */
    --space-xs-s: clamp(0.875rem, 0.6793rem + 0.9783vw, 1.4375rem);
    /* 19px → 35px */
    --space-s-m: clamp(1.1875rem, 0.8397rem + 1.7391vw, 2.1875rem);
    /* 29px → 46px */
    --space-m-l: clamp(1.8125rem, 1.4429rem + 1.8478vw, 2.875rem);
    /* 38px → 69px */
    --space-l-xl: clamp(2.375rem, 1.7011rem + 3.3696vw, 4.3125rem);
    /* 57px → 92px */
    --space-xl-2xl: clamp(3.5625rem, 2.8016rem + 3.8043vw, 5.75rem);
    /* 76px → 115px */
    --space-2xl-3xl: clamp(4.75rem, 3.9022rem + 4.2391vw, 7.1875rem);
    /* 95px → 138px */
    --space-3xl-4xl: clamp(5.9375rem, 5.0027rem + 4.6739vw, 8.625rem);
    /* 114px → 161px */
    --space-4xl-5xl: clamp(7.125rem, 6.1033rem + 5.1087vw, 10.0625rem);

    /* Custom pairs */
    /* 19px → 46px */
    --space-s-l: clamp(1.1875rem, 0.6005rem + 2.9348vw, 2.875rem);

    /* ===========================  GRID  =========================== */
    --grid-max-width: 89.13rem;
    --grid-gutter: var(
        --space-s-l,
        clamp(1.1875rem, 0.6993rem + 2.4412vw, 2.875rem)
    );
    --grid-columns: 12;
}

/* ================================================================== */
/* ==============================  FONTS  =========================== */
/* ================================================================== */

@font-face {
    font-family: 'Spectral';
    src: url('/fonts/spectral/extra-light.woff') format('woff'),
        url('/fonts/spectral/extra-light.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Spectral';
    src: url('/fonts/spectral/extra-light-italic.woff') format('woff'),
        url('/fonts/spectral/extra-light-italic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Spectral';
    src: url('/fonts/spectral/regular.woff') format('woff'),
        url('/fonts/spectral/regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Spectral';
    src: url('/fonts/spectral/italic.woff') format('woff'),
        url('/fonts/spectral/italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/light.woff') format('woff'),
        url('/fonts/inter/light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/semi-bold.woff') format('woff'),
        url('/fonts/inter/semi-bold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Operator Mono';
    src: url('/fonts/operator/OperatorMonoLig-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Operator Mono';
    src: url('/fonts/operator/OperatorMonoLig-BookItalic.otf')
        format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* ================================================================== */
/* ============================  ELEMENTS  ========================== */
/* ================================================================== */

html {
    scrollbar-color: hsla(var(--accent), 0.7) transparent;
}
html * {
    scrollbar-color: initial;
}
body {
    font-family: 'Spectral', serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: var(--body-background);
    background-size: 100% 600px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: var(--black);
    font-size: var(--text-0);
    line-height: 1.65;
}
main {
    margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5rem 0;
    color: var(--black);
    line-height: 1.05;
}
h1 {
    font-size: var(--text-4);
    font-weight: 200;
    letter-spacing: -1.2px;
}
h2 {
    font-size: var(--text-2);
    font-weight: 400;
    letter-spacing: -0.8px;
    padding-top: 24px;
}
h3 {
    font-size: var(--text-1);
    padding-top: 16px;
}
h4 {
    font-size: var(--text-1);
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: inherit;
}
p {
    margin-bottom: 1em;
}
.prose p {
    margin-bottom: 2em;
}
table {
    width: 100%;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
code {
    font-family: 'Operator Mono';
    font-size: var(--text--1);
    padding: 2px 5px;
    background-color: hsla(var(--accent), 0.2);
    border-radius: 4px;
}
pre {
    font-family: 'Operator Mono';
    font-size: var(--text--1);
    padding: 1.5em;
    border-radius: 8px;
}
pre > code {
    all: unset;
}
blockquote {
    --left-pad: 24px;
    --horizontal-margin: 52px;
    border-left: 1px solid var(--grey);
    padding-left: var(--left-pad);
    margin: 0;
    margin-right: var(--horizontal-margin);
    margin-left: calc(var(--horizontal-margin) - var(--left-pad));
}
hr {
    border: none;
    border-top: 1px solid rgb(var(--gray-light));
}

/* ================================================================== */
/* ============================  UTILITIES  ========================= */
/* ================================================================== */

.u-container {
    max-width: var(--grid-max-width);
    padding-inline: var(--grid-gutter);
    margin-inline: auto;
}

.u-grid {
    display: grid;
    gap: var(--grid-gutter);
}
.sr-only {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px 1px 1px 1px);
    /* maybe deprecated but we need to support legacy browsers */
    clip: rect(1px, 1px, 1px, 1px);
    /* modern browsers, clip-path works inwards from each corner */
    clip-path: inset(50%);
    /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
    white-space: nowrap;
}
.content {
    --gap: clamp(var(--space-s), 6vw, var(--space-l));
    --full: minmax(var(--gap), 1fr);
    --content: min(60ch, 100% - var(--gap) * 2);
    --popout: minmax(0, 2rem);
    --feature: minmax(0, 5rem);

    display: grid;
    grid-template-columns:
        [full-start] var(--full)
        [feature-start] var(--feature)
        [popout-start] var(--popout)
        [content-start] var(--content) [content-end]
        var(--popout) [popout-end]
        var(--feature) [feature-end]
        var(--full) [full-end];
}
.content > * {
    grid-column: content;
}
.popout {
    grid-column: popout;
}
.feature {
    grid-column: feature;
}
.full {
    grid-column: full;
}
