---
import BaseHead from 'components/BaseHead.astro';
import { getAllPosts } from 'utils/posts';
import Header from 'components/Header.astro';
import Footer from 'components/Footer.astro';
import { getUniqueTagsFromPosts } from 'utils/tags';

const allPosts = await getAllPosts();
const tags = getUniqueTagsFromPosts(allPosts).map(tag => tag.toLowerCase());
---

<html lang="en">
    <head>
        <BaseHead title="Tags" description="All the tags used on any content type" />
    </head>
    <body>
        <Header />
        <main>
            <h1>Tags</h1>
            <section>
                <ul>
                    {
                        tags.map(tag => (
                            <li>
                                <a href={`/tags/${tag}`}>{tag}</a>
                            </li>
                        ))
                    }
                </ul>
            </section>
        </main>
        <Footer />
    </body>
</html>
