---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
    <nav>
        <h2><a href="/">{SITE_TITLE}</a></h2>
        <div class="internal-links">
            <HeaderLink href="/posts">posts</HeaderLink>
            <HeaderLink href="/notes">notes</HeaderLink>
            <HeaderLink href="/snippets">snippets</HeaderLink>
            <HeaderLink href="/about">about</HeaderLink>
        </div>
    </nav>
</header>

<style>
    header {
        margin: 56px;
        margin-bottom: 0;
    }

    h2 {
        font-family: 'Spectral';
        font-weight: 200;
        font-size: 36px;
        margin-bottom: 24px;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    .internal-links {
        font-family: 'Inter';
        font-weight: 300;
        font-size: 19px;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
</style>
