---
import { Image } from 'astro:assets';
import type { LocalImageProps, RemoteImageProps } from 'astro:assets';

type Props = LocalImageProps | RemoteImageProps;

const {
    props: { class: className, ...rest },
} = Astro;
---

<div class:list={['image-wrapper', className]}>
    <Image {...rest} />
</div>

<style>
    .image-wrapper {
        padding: var(--space-s) 0;
    }
</style>
