---
import FormattedDate from './FormattedDate.astro';

interface Props {
    pubDate: Date;
    tags: string[];
}

const { pubDate, tags } = Astro.props;
---

<div class="metadata">
    <div class="date">
        <FormattedDate date={pubDate} />
    </div>
    <div class="horizontal-rule"></div>
    {
        tags && (
            <div class="tags">
                {tags.map(tag => {
                    const formattedTag = tag.toLowerCase();
                    return <span>#{formattedTag}</span>;
                })}
            </div>
        )
    }
</div>

<style>
    .metadata {
        color: var(--grey-dark);
        font-size: var(--text--1);
        display: flex;
        align-items: baseline;
        gap: var(--space-xs);
        white-space: nowrap;
    }
    .date {
        white-space: nowrap;
    }
    .horizontal-rule {
        width: 100%;
        height: 1px;
        background-color: var(--grey);
    }
    .tags {
        display: flex;
        gap: var(--space-2xs);
    }
</style>
